<div class="row details-header">
    <h2>应用管理</h2>
    <p>这里可以查看到你开启的应用</p>
    <hr />
</div>
<div class="details-body">
    <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>应用名称</th>
                <th>镜像名称</th>
                <th>构建状态</th>
                <th>应用状态</th>
                <th>访问地址</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="app in applications">
                <td>[[app.app_name]]</td>
                <td>[[app.project_name]]</td>
                <td>[[app.status]]</td>
                <td>[[ (app.inspect_container && app.inspect_container.State && app.inspect_container.State.Running) ?"运行中":"停止" ]]</td>
                <td>
                    <div ng-repeat="url in app.urls">
                        <span>[[url.PortAndType]]</span>
                        [<a href="[[url.PortUrl]]">[[url.PortUrl]]</a>]
                        <br/>
                    </div>
                </td>
                <td>[[(app.update_time?app.update_time:app.create_time)*1000 | date:"yyyy-MM-dd hh:mm:ss"]]</td>
                <td>
                    <a class="btn btn-success" ng-click="container_access('restart','[[app._id]]')">重启</a>
                    <a class="btn btn-success" ng-click="container_access('stop','[[app._id]]')">停止</a>
                    <a class="btn btn-success" ng-click="container_access('delete','[[app._id]]')">删除</a>
                    <a class="btn btn-success" ng-click="show_logs('[[app._id]]')">查看日志</a>
                    <a class="btn btn-success" ng-click="show_exec('[[app._id]]')">交互操作</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
