<div class="row details-header">
    <h2>应用管理</h2>
    <p>这里可以查看到你开启的应用</p>
    <hr />
</div>
<div class="details-body" >
    <div class="row" ng-show="showScope=='list'">
        <table class="table" >
        <thead>
            <tr>
                <th>应用名称</th>
                <th>镜像名称</th>
                <th>构建状态</th>
                <th>应用状态</th>
                <th>访问地址</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="app in applications">
                <td>[[app.app_name]]</td>
                <td>[[app.project_name]]</td>
                <td>[[app.status]]</td>
                <td>[[ (app.inspect_container && app.inspect_container.State && app.inspect_container.State.Running) ?"运行中":"停止" ]]</td>
                <td>
                    <div ng-repeat="url in app.urls">
                        <span>[[url.PortAndType]]</span>
                        [<a href="[[url.PortUrl]]">[[url.PortUrl]]</a>]
                        <br/>
                    </div>
                </td>
                <td>[[(app.update_time?app.update_time:app.create_time)*1000 | date:"yyyy-MM-dd hh:mm:ss"]]</td>
                <td>
                    <a class="btn btn-success" ng-click="show_run_logs('[[app._id]]')">构建日志</a>
                    <a class="btn btn-success" ng-click="show_container_logs('[[app._id]]')">运行日志</a>
                    <a class="btn btn-success" ng-click="show_exec('[[app._id]]')">交互操作</a>
                    <br/>
                    <a class="btn btn-success" ng-click="container_access('restart','[[app._id]]')">重启</a>
                    <a class="btn btn-success" ng-click="container_access('stop','[[app._id]]')">停止</a>
                    <a class="btn btn-success" ng-click="container_access('delete','[[app._id]]')">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div  class="row" ng-show="showScope=='application'">
        <h2>[[application.project_name]]</h2>
        <p>[[application.project_url]]</p>
        <p>[[application.run_status]]</p>
        
        <a  class="btn btn-success" ng-click="showAppliactions()">返回</a>
        <a  class="btn btn-success" ng-click="getContainerInfo(application._id)">刷新</a>
        <hr />
    </div>
    <div class="row" ng-show="showScope=='application'">
        <div class="run-info">
            <ul>
                <li ng-repeat="info in application.run_info">
                    <p>[[info.log]]</p>
                </li>
            </ul>
        </div>
    </div>
    
    <div  class="row" ng-show="showScope=='logs'">
        <h2>[[container.app_name]]</h2>
        <p>[[container.address]]</p>
        <p>[[container.status]]</p>
        <a  class="btn btn-success" ng-click="showAppliactions()">返回</a>
        <hr />
    </div>
    <div class="row" ng-show="showScope=='logs'">
        <div class="run-info">
            <ul ng-if="container.logs.length>0">
                <li ng-repeat="info in container.logs">
                    <p>[[info.log]]</p>
                </li>
            </ul>
            <div ng-if="container.logs.length==0" style="font-size:18px;">
                正在努力加载...
            </div>
        </div>
    </div>
    
    <div  class="row" ng-show="showScope=='exec'">
        <h2>[[exec.app_name]]</h2>
        <p>[[exec.address]]</p>
        <p>[[exec.status]]</p>
        <a  class="btn btn-success" ng-click="showAppliactions()">返回</a>
        <hr />
    </div>
    <div class="row" ng-show="showScope=='exec'">
        <div class="exec-logs">
            <ul>
                <li ng-repeat="info in exec.logs track by $index">
                    <p ng-bind-html="info"></p>
                </li>
            </ul>
            <div ng-if="exec.status=='start'" style="font-size:12px;">
                正在请求，请耐心等待回应...
            </div>
            <div>
              <input ng-model="exec.input_value" type="text" class="console-input" ng-keyup="inputExecCMD(e)" />
            </div>
        </div>
    </div>
</div>
