<div class="row" style="margin:20px 120px;">
    <h2>代码构建</h2>
    <p>我们需要自动化去部署代码，必然会面临代码构建成容器镜像，本步骤即为构建镜像</p>
    <a class="btn btn-success" ng-click="showScope='form'">创建任务</a>
    <hr />
</div>
<div class="row" ng-Show="showScope=='list'"   style="margin:20px 120px;">
    <table class="table">
        <thead>
            <tr>
                <td>任务名称</td>
                <td>代码源</td>
                <td>构建状态</td>
                <td>镜像名称</td>
                <td>更新时间</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="service in services">
                <td>[[service.project_name]]</td>
                <td>[[service.project_url]]</td>
                <td>[[service.status]]</td>
                <td>[[service.project_name]]</td>
                <td>[[(service.update_time?service.update_time:service.create_time)*1000 | date:"yyyy-MM-dd hh:mm:ss"]]</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-Show="showScope=='form'"   style="margin:20px 120px;">
<form role="form" name="service_form" class="form-horizontal" ng-submit="submitForm(service_form.$valid)"  novalidate> 
    <div class="form-group has-feedback">
        <label class="col-xs-2">应用名称</label>
        <div class="col-xs-10"> 
            <input type="text" class="form-control"  name="application_name" ng-model="application_name" required  ng-maxlength="20"/>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="service_form.application_name.$dirty && service_form.application_name.$valid"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label  class="col-xs-2">镜像名称</label>
        <div  class="col-xs-10">
            <input type="text" class="form-control"  name="project_name"  ng-model="project_name" required  ng-maxlength="200"/>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="service_form.project_name.$dirty && service_form.project_name.$valid"></span>
        </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="project_url" ng-model="project" style="display:none;"/>
    </div>
    <div class="form-group has-feedback">
        <input class="btn btn-success" type="submit" ng-disabled="service_form.$invalid" value="提交"/>
    </div>
</form>
</div>


